version: '3'

networks:
  db:
    driver: bridge
  web:
    driver: bridge

volumes:
  postgres:
      driver: local

services:

  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: admin
      POSTGRES_DB: flaskapp 
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - db

  adminer:
    image: adminer:latest
    ports:
      - 8080:8080 
    links:
      - db:db
    networks:
      - db
  
  python:
    restart: always
    build:
      context: . 
      dockerfile: ./python.dockerfile
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: 1
    ports:
      - 5000:5000
    volumes:
      - ./app:/var/www/app
    networks:
      - db
      - web

  nginx:
    build:
      context: . 
      dockerfile: ./nginx.dockerfile
    ports:
      - 80:80
    networks:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./app:/var/www/app